<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.sdk.web">

  <application >
    <activity
        android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
        android:name="com.base.sdk.web.ui.ActWebView"
        android:screenOrientation="portrait"
        android:theme="@style/NewAppTheme.Web.WhiteStatusBar"
        android:windowSoftInputMode="stateHidden|adjustNothing">
    </activity>
  </application>

</manifest>